<?xml version="1.0" encoding="UTF-8"?>
<launch4jConfig>
  <dontWrapJar>true</dontWrapJar>
  <headerType>gui</headerType>
  <jar>out\artifacts\Projekt_Grafika_jar\Projekt-Grafika.jar</jar>
  <outfile>C:\Users\theod\Desktop\Projekt-Grafika\Projekt.exe</outfile>
  <errTitle></errTitle>
  <cmdLine></cmdLine>
  <chdir>.</chdir>
  <priority>normal</priority>
  <downloadUrl></downloadUrl>
  <supportUrl></supportUrl>
  <stayAlive>false</stayAlive>
  <restartOnCrash>false</restartOnCrash>
  <manifest></manifest>
  <icon></icon>
  <classPath>
    <mainClass>Projekt.App</mainClass>
    <cp>lwjgl-stable-2019-09-19-custom/*.jar</cp>
  </classPath>
  <jre>
    <path>%JAVA_HOME%;%PATH%</path>
    <requiresJdk>false</requiresJdk>
    <requires64Bit>false</requires64Bit>
    <minVersion>24</minVersion>
    <maxVersion>25</maxVersion>
  </jre>
</launch4jConfig>